.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Yanone Kaffeesatz", sans-serif;
    padding: 24px 48px 16px 64px;
    /* margin-bottom: -88px; */
}
.nav-bar .nav-logo {
    color: #FEB800;
    background-color: #313036;
    padding: 8px 12px;
    display: inline-block;
    border-radius: 10px;
    letter-spacing: 5px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
.nav-bar .nav-links {
    background-color: #FDDFC7;
    padding: 2px;
    display: flex;
    border-radius: 10px;
    border: 1px solid #313036;
}
.nav-bar .nav-links .nav-link, .nav-bar .nav-profile .logout {
    color: #313036;
    padding: 12px;
    width: 120px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;
    text-decoration: none;
}
.nav-bar .nav-links .nav-link:hover {
    color: #FEB800;
    background-color: #313036;
}
.nav-bar .nav-profile .nav-auth {
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: #FDDFC7;
    padding: 2px;
    display: flex;
    border-radius: 10px;
}
.nav-bar .nav-profile .nav-auth .nav-link {
    color: #313036;
    padding: 12px;
    width: 90px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;
    /* text-decoration: none; */
}
.nav-bar .nav-profile .nav-auth .nav-link:hover {
    color: #FEB800;
    background-color: #313036;
}
.nav-bar .nav-profile .nav-auth .logout {
    font-family: "Yanone Kaffeesatz", sans-serif;
    background-color: #FDDFC7;
    border: 1px solid #313036;
}
.nav-bar .nav-profile .nav-auth .logout:hover {
    text-decoration: underline;
}