@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Yanone Kaffeesatz", sans-serif;
}
body {
    background-color: #FDDFC7;
}